db/dbdata
__pychache__/
/log
src/static/admin
src/mysite/__pycache__/__init__.cpython-38.pyc
src/mysite/__pycache__/settings.cpython-38.pyc
src/mysite/__pycache__/urls.cpython-38.pyc
src/mysite/__pycache__/wsgi.cpython-38.pyc
